services:
  caddy:
    image: caddy
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./caddy/data:/data
      - ./caddy/config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      - caddy-proxy
  postgres:
    env_file:
      - .env
    # image: postgres:alpine
    build:
      context: ./postgres
      dockerfile: Dockerfile
    container_name: postgres
    restart: unless-stopped
    # ports:
    #   - 5432:5432
    environment:
      POSTGRES_PASSWORD: "${PG_PASS}"
      POSTGRES_USER: postgres
      POSTGRES_MULTIPLE_DATABASES: authentik,matrix,stalwart
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - database:/var/lib/postgresql/data
      - ./postgres/init-multiple-databases.sh:/docker-entrypoint-initdb.d/init-multiple-databases.s
    networks:
      - database
  postgres-backup:
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - ./backups/postgres:/backups
    depends_on:
      - postgres
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD="${PG_PASS}"
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DOZZLE_FILTER=name=^dozzle$
  authentikserver:
    image: ghcr.io/goauthentik/server:2025.12.4
    command: server
    container_name: authentik-server
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: "${PG_PASS}"
      AUTHENTIK_POSTGRESQL__USER: postgres
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?secret key required}
      # Required to skip the setup wizard
      AUTHENTIK_BOOTSTRAP_PASSWORD: ${AUTHENTIK_BOOTSTRAP_PASSWORD:?password required}
      AUTHENTIK_BOOTSTRAP_TOKEN: ${AUTHENTIK_BOOTSTRAP_TOKEN:?token required}
      AUTHENTIK_BOOTSTRAP_EMAIL: ${AUTHENTIK_BOOTSTRAP_EMAIL:?email required}
    # ports:
    #   - ${COMPOSE_PORT_HTTP:-9000}:9000
    #   - ${COMPOSE_PORT_HTTPS:-9443}:9443
    restart: unless-stopped
    volumes:
      - ./authentik/data:/data
      - ./authentik/custom-templates:/templates
      - ./authentik/blueprints:/blueprints/custom
    networks:
      - caddy-proxy
      - database
  worker:
    image: ghcr.io/goauthentik/server:2025.12.4
    container_name: authentik-worker
    command: worker
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgres
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: "${PG_PASS}"
      AUTHENTIK_POSTGRESQL__USER: postgres
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY:?secret key required}
      # Required to skip the setup wizard
      AUTHENTIK_BOOTSTRAP_PASSWORD: ${AUTHENTIK_BOOTSTRAP_PASSWORD:?password required}
      AUTHENTIK_BOOTSTRAP_TOKEN: ${AUTHENTIK_BOOTSTRAP_TOKEN:?token required}
      AUTHENTIK_BOOTSTRAP_EMAIL: ${AUTHENTIK_BOOTSTRAP_EMAIL:?email required}
    restart: unless-stopped
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./authentik/data:/data
      - ./authentik/certs:/certs
      - ./authentik/custom-templates:/templates
      - ./authentik/blueprints:/blueprints/custom
    networks:
      - database

  ## Synapse / Element / MATRIX
  synapse:
    image: ghcr.io/element-hq/synapse:latest
    container_name: synapse
    env_file:
      - .env
    volumes:
      - ./synapse/data:/data
    environment:
      SYNAPSE_CONFIG_DIR: /data
      SYNAPSE_CONFIG_PATH: /data/homeserver.yaml
      TZ: "Europe/Berlin"
    depends_on:
      postgres:
        condition: service_healthy
      #ports:
      # Client-Server API
      #- "8008:8008"
      # Federation API
      #- "8448:8448"
    networks:
      - caddy-proxy
      - database
    restart: unless-stopped

  element:
    image: vectorim/element-web:latest
    restart: unless-stopped
    volumes:
      - ./element/config.json:/app/config.json
    networks:
      - caddy-proxy

  ## Mailserver
  stalwart:
    image: stalwartlabs/stalwart:latest
    container_name: stalwart-mail
    restart: unless-stopped
    volumes:
      - ./stalwart/data:/opt/stalwart
    ports:
      - "25:25" # SMTP
      - "465:465" # SMTPS (SMTP über SSL/TLS)
      - "993:993" # IMAPS (IMAP über SSL/TLS)
      #- "8080:8080" # Stalwart Web-Admin-Oberfläche (HTTP)
      #- "443:443"   # HTTPS für Web-Admin-Oberfläche
    networks:
      - caddy-proxy

  ## Static hosting
  homepage:
    container_name: homepage
    image: nginx:latest
    restart: unless-stopped
    networks:
      - caddy-proxy
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./static/html:/usr/share/nginx/html:ro

volumes:
  database:
    driver: local

networks:
  caddy-proxy:
    external: true
  database:
    external: true
