{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email   hostmaster@__DOMAIN__
}

www.__DOMAIN__ __DOMAIN__ {
    reverse_proxy homepage:80
}

auth.__DOMAIN__ {
    reverse_proxy authentik-server:9000
}

mail.__DOMAIN__ {
    reverse_proxy stalwart-mail:8080
}

matrix.__DOMAIN__ {
    reverse_proxy synapse:8008
}

element.__DOMAIN__ {
    reverse_proxy element:80
}
