{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    email   hostmaster@__DOMAIN__
}

www.__DOMAIN__ __DOMAIN__ {
    reverse_proxy homepage:80
}

auth.__DOMAIN__ {
    reverse_proxy authentik-server:9000
}

mail.__DOMAIN__ {
    reverse_proxy stalwart-mail:8080
}

matrix.__DOMAIN__ {
    reverse_proxy synapse:8008
}

element.__DOMAIN__ {
    reverse_proxy element:80
}

logs.__DOMAIN__ {
    # 1. FORWARD AUTH: Ask Authentik for permission
    # This sends the request to the internal Authentik server first.
    # If not logged in, Authentik redirects them to the login page.
    forward_auth authentik-server:9000 {
        uri /outpost.goauthentik.io/auth/caddy
        copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
    }

    # 2. If allowed, show the logs
    reverse_proxy dozzle:8080
}